.form {
    display: flex;
    flex-direction: column;
    width: 468px;
    padding: 10px;
    margin: auto;
    margin-top: 80px;

    background-color: #fff;
}

.form__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 34px;

    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFD050;
}

.form__input {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    border: none;
    border-bottom: 2px solid #FFD050;
}

.form__input:focus {
    outline: none;
}

.create__textarea {
    border: 2px solid #FFD050;
}

.form__input::placeholder {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.form__submit {
    width: auto;
    padding: 16px 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    background-color: #FFD050;
    border: none;
}

.form__submit:hover, .form__submit:focus {
    text-decoration: underline;
    cursor: pointer;
}

.form__list {
    padding: 0;

    list-style-type: none;
}