.posts {
    width: 1440px;
    margin: auto;
}

.posts__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

.posts__list {
    padding: 0;

    list-style-type: none;
}

.posts__item {
    margin-bottom: 64px;
}